* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background-color: black;
}
#page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 100vh;
    background-color: aliceblue;
}
.chat-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #EAC5D8;
    height: 90vh;
    width: 700px;
}
.chat-wrapper {
    height: 80%;
    width: 80%;
    background-color: #DBD8F0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;

}
.chat-input {
    display: flex;
    width:  90%;
    height: 100px;
    background-color: #AFBED1;
    margin-bottom: 20px;
    align-items: center;
    border: 2px solid black;
    border-radius: 25px;
}
#whitespace {
    height: 50px;
    width: 100%;
}
.chat-field {
    padding: 15px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #DBD8F0;
}
.enter-btn {
    padding: 15px;
    width: 95px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #DBD8F0;
}
.msg-display {
    height: auto;
    max-height: 80%;
    width: 80%;
    padding: 20px 10px;
    overflow: auto;
    margin-top: 25px;
}
.message {
    padding-bottom: 10px;
}
