* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Fira Code', monospace;
    background-color: black;
}
#page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 100vh;
    background-color: whitesmoke;
}
.chat-container {
    display: flex;
    flex-direction: column;
    border: 2px dashed cyan;
    height: 75vh;
    width: 70%;
}
.chat-wrapper {
    height: 100%;
    max-height: 60vh;
    width: 80%;
    padding: 10px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;

}
.chat-input {
    display: flex;
    width:  90%;
    height: 13%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    margin-bottom: 20px;
    align-items: center;
    border-radius: 10px;
}
#whitespace {
    height: 50px;
    width: 100%;
}
.chat-field {
    padding: 15px;
    width: 62%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Fira Code', monospace;
}
.enter-btn {
    padding: 15px;
    width: 22%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Fira Code', monospace;
}
.msg-display {
    height: auto;
    max-height: 80%;
    width: 80%;
    padding: 20px 10px;
    overflow: auto;
    margin-top: 25px;
}
p.message {
    margin-left: 0;
    width: max-content;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(0, 201, 255, 0.8) 0%, rgba(146, 254, 157, 0.8) 100%);
}
