* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: black;
}

#page-container {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    background-color: whitesmoke;
}

.chat-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 75vh;
    width: 50%;
}

.playlist-container {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    height: 75vh;
    width: 35%;
}
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    height: 75vh;
    width: 15%;
}

.chat-wrapper {
    height: 100%;
    max-height: 60vh;
    width: 100%;
    padding: 10px;
    margin-top: 70px;
    margin-right: 0;

    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid darkslategrey;
    border-left: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
}

.playlist-wrapper {
    height: 100%;
    max-height: 60vh;
    width: 100%;
    padding: 10px;
    margin-top: 70px;
    margin-right: 10px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid darkslategrey;
}
#navbar {
    height: 100%;
    margin-top: 70px;
    max-height: 60vh;
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid darkslategrey;
    border-left: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;
}

.chat-input,
.search-form {
    display: flex;
    width: 90%;
    height: 13%;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    margin-bottom: 20px;
    align-items: center;
    border-radius: 10px;
}

#whitespace {
    height: 50px;
    width: 100%;
}

.chat-field,
.search-field {
    padding: 15px;
    width: 62%;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Fira Code', monospace;
}

.enter-btn {
    padding: 15px;
    width: 22%;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    background-color: aliceblue;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.enter-btn:hover {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.enter-btn:active {
    scale: 102%;
}

.msg-display,
.que-display {
    height: auto;
    max-height: 80%;
    width: 80%;
    padding: 20px 10px;
    overflow: auto;
    margin-top: 25px;
}

p.message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 14px;
    margin-left: 0;
    width: max-content;
    max-width: 100%;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid darkslategrey;
    box-shadow: 1px 1px black;
    background: linear-gradient(90deg, rgba(0, 201, 255, 0.8) 0%, rgba(146, 254, 157, 0.5) 100%);
}

.delete-button {
    all: unset;
    position: absolute;
    background-color: #F3AFD2;
    top: 6px;
    right: 7px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

p.message:hover .delete-button {
    opacity: 1;
}

.delete-button:active {
    scale: 105%;
}

.song {
    width: max-content;
}

.songQ {
    display: flex;
    margin: 0;
    gap: 10px;
    align-items: center;
    /*border-bottom: 1px solid black;*/
    padding-bottom: 10px;
    width: max-content;
}

.song-container {
    font-size: 14px;
    margin-left: 0;
    width: max-content;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid darkslategrey;
    box-shadow: 1px 1px black;
    border-radius: 5px;
    background: linear-gradient(
            90deg,
            rgba(0, 201, 255, 0.8) 0%,
            rgba(146, 254, 157, 0.5) 100%
    );
}

.upvote {
    margin: 0 0 0 20px;
    background-color: green;
    border: 1px solid green;
    border-radius: 50%;
    height: 15px;
    width: 12px;
    opacity: 65%;
}

.downvote {
    margin: 0;
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    opacity: 65%;
}

.upvote:hover {
    opacity: 100%;
}

.downvote:hover {
    opacity: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 25px;
}

.message {
    flex: 1;

}

.message-container {
    display: flex;
    flex-direction: row;
    height: auto;
}